.container{
  display: flex;
  flex-direction: row;
}

.main{
  display: flex;
  flex-direction: column;
}

.info_cards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grid{
  background-color: #FEFEFE;
  border-radius: 10px;
  box-shadow: #9d9d9d 0 0.1em 0.1em 0;
  padding: 1rem;
  margin:  2rem;
}


@media screen and (max-width: 790px) {
  .info_cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  
}