.header{
  background-color: #2597D0;
  height: 5vh;
  width: calc( 80vw - 0.9rem);
  font-size: 1.3rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  text-shadow: rgb(132, 132, 132) 0 0.1em;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0 10px 0 0;
}



